*.o
*.swp
*.cscope
GTAG*
utils/activatecredential
utils/certify
utils/certifycreation
utils/changeeps
utils/changepps
utils/clear
utils/clearcontrol
utils/clockrateadjust
utils/clockset
utils/commit
utils/contextload
utils/contextsave
utils/create
utils/createek
utils/createekcert
utils/createloaded
utils/createprimary
utils/dictionaryattacklockreset
utils/dictionaryattackparameters
utils/duplicate
utils/eccparameters
utils/ecephemeral
utils/encryptdecrypt
utils/eventextend
utils/eventsequencecomplete
utils/evictcontrol
utils/flushcontext
utils/getcapability
utils/getcommandauditdigest
utils/getrandom
utils/getsessionauditdigest
utils/gettestresult
utils/gettime
utils/h80000000.bin
utils/hash
utils/hashsequencestart
utils/hierarchychangeauth
utils/hierarchycontrol
utils/hmac
utils/hmacstart
utils/hp80000000.bin
utils/imaextend
utils/import
utils/importpem
utils/libibmtss.so
utils/libibmtss.so.1
utils/libibmtss.so.1.1
utils/libibmtssutils.so
utils/libibmtssutils.so.1
utils/libibmtssutils.so.1.1
utils/load
utils/loadexternal
utils/makecredential
utils/ntc2getconfig
utils/ntc2lockconfig
utils/ntc2preconfig
utils/nvcertify
utils/nvchangeauth
utils/nvdefinespace
utils/nvextend
utils/nvglobalwritelock
utils/nvincrement
utils/nvread
utils/nvreadlock
utils/nvreadpublic
utils/nvsetbits
utils/nvundefinespace
utils/nvundefinespacespecial
utils/nvwrite
utils/nvwritelock
utils/objectchangeauth
utils/pcrallocate
utils/pcrevent
utils/pcrextend
utils/pcrread
utils/pcrreset
utils/policyauthorize
utils/policyauthorizenv
utils/policyauthvalue
utils/policycommandcode
utils/policycountertimer
utils/policycphash
utils/policyduplicationselect
utils/policygetdigest
utils/policymaker
utils/policymakerpcr
utils/policynamehash
utils/policynv
utils/policynvwritten
utils/policyor
utils/policypassword
utils/policypcr
utils/policyrestart
utils/policysecret
utils/policysigned
utils/policytemplate
utils/policyticket
utils/powerup
utils/quote
utils/readclock
utils/readpublic
utils/returncode
utils/rewrap
utils/rsadecrypt
utils/rsaencrypt
utils/sequencecomplete
utils/sequenceupdate
utils/setprimarypolicy
utils/shutdown
utils/sign
utils/signapp
utils/startauthsession
utils/startup
utils/stirrandom
utils/timepacket
utils/tpm2pem
utils/tpmpublic2eccpoint
utils/unseal
utils/verifysignature
utils/writeapp
utils/zgen2phase
